.mainfooter
  background-color: #d2eae3
  padding: rem(215px) 0 rem(40px)

  &__left, &__right
    flex: 1
    // display: inline-block
    // width: 48%
    // vertical-align: top
  &__left
    margin-right: 3%
    +tablets-max
      order: 2

  &__contacts
    display: flex
    margin-bottom: rem(100px)
    +tablets-max
      flex-direction: column

  &__right
    +tablets-max
      order: 1
      display: flex
      flex-direction: column
      align-items: center
    .section-title
      top: rem(-93px)
      display: inline-block
    .socials
      margin-bottom: rem(95px)
      +tablets-max
        margin-bottom: rem(50px)

  &__form
    &-btn
      text-align: center
    input
      height: 50px
    input, textarea
      color: #000
      width: 100%
      max-width: 666px
      border: 4px solid #000
      border-radius: 19px
      background-color: $accent-color
      margin-bottom: 15px
    textarea
      margin-bottom: 60px
      height: 200px
    label
      display: block
      font-family: $title-font
      font-size: 18px
      text-transform: uppercase
      margin-bottom: 5px
      +tablets-max
        font-size: 16px

  &__bottom-line
    display: flex
    justify-content: space-between
    align-items: center
    +desktop-max
      flex-direction: column
  &__copyright
    font-size: rem(18px)
    font-family: $title-font
    font-weight: 400
    +desktop-max
      order: 2
      font-size: rem(16px)
  &__nav
    +phones-max
      width: 100%
    +desktop-max
      order: 1
      margin-bottom: rem(30px)
    .nav__item
      margin: 0
      +phones-max
        display: block
        text-align: center
      .nav__link
        +tablets-max
          font-size: rem(16px)
          padding: 0.8rem 1.1rem
      &--active, &:hover
        .nav__link
          color: #d2eae3


.socials
  +clearfix
  &__item
    float: left
    margin-right: 14px
    &:last-child
      margin-right: 0
  &__link
    display: block
    cursor: pointer
    span
      transition: transform 500ms
      transform-origin: center center
    &:hover
      span
        transform: rotate(1turn)

.contacts
  +clearfix
  &__item
    float: left
    margin-right: 125px
    margin-bottom: rem(45px)
    +phones-max
      float: none
      margin-right: auto
    &:last-child
      margin-right: 0

  &__header
    font-size: rem(18px)
    margin: 0 0 rem(5px)
    font-weight: 400
