section.about#about
  .container
    .section-header 
      h2.section-title About Me
      p.section-descr Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore beard pickled letterpress normcore crucifix.

    ul.features
      li.features__item
        .features__chart
          .pie
            .pie__percent(data-percent="75")
            .pie__f-line


        .features__descr
          h4.features__title <span></span> <br> Photoshop
          p.features__text  Mustache butcher direct trade, locavore banjo flexitarian taxidermy swag poutine literally. Selvage bushwick pour-over hella, austin kogi tumblr 90's chartreuse tacos. 
      li.features__item
        .features__chart
          .pie
            .pie__percent(data-percent="65")
            .pie__f-line
        .features__descr
          h4.features__title <span></span> <br> ilustrator
          p.features__text  Viral actually PBR&B, portland wayfarers gluten-free pour-over. Pop-up kombucha chicharrones, YOLO mixtape celiac squid. Heirloom plaid everyday carry mustache.
      li.features__item
        .features__chart
          .pie
            .pie__percent(data-percent="25")
            .pie__f-line
        .features__descr
          h4.features__title <span></span> <br> kinitting
          p.features__text  Pitchfork distillery next level, polaroid roof party austin fanny pack knausgaard everyday carry ethical freegan plaid yuccie brunch. Blue bottle wayfarers umami messenger.
