header.mainheader
  .container
    nav.nav.mainheader__nav
      .toggle-nav
        span
      ul.nav__list
        each index, item in {'Home': '/', 'What I Do': '#what', 'My works': '#portfolio', 'about': '#about', 'contact': '#contacts'}
          -if (item == "Home")
            li.nav__item.nav__item--active
              a(href=index).nav__link= item
          -else
            li.nav__item
              a(href=index).nav__link= item
    
  .banner
    .banner__item
      h1.banner__title Tacos cardigan <br> truffaut Quanted!
      img(src="img/glass.png", alt="Glass").banner__image
      .btn-wrap
        a(href="#").btn.btn--banner See More
        span.btn-lines
        
  span.ic.ic--scroll

  svg.mainheader__line
    line(stroke-dasharray="25, 20", x1="50%", y1="0", x2="50%", y2="100%", style="stroke:rgb(0,0,0);stroke-width:5")
