section.what#what
  .container
    .section-header
      h2.section-title What I Do
      p.section-descr Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore beard pickled letterpress normcore crucifix.
      
    ul.features
      li.features__item
        span.ic.ic--headphones
        .features__descr
          h4.features__title.what__features-title Ultracies
          p.features__text Four dollar toast messenger bag green juice, organic cliche tofu synth small batch locavore austin. Squid mlkshk authe ntic pinterest, pour-over gastropub XOXO seitan sartorial humblebrag. 
      li.features__item
        span.ic.ic--screen
        .features__descr
          h4.features__title.what__features-title porttitor
          p.features__text Tofu mixtape selfies, swag brooklyn banh mi stumptown loca vore yr migas tousled chicharrones sriracha cray leggings. Street art tousled kale chips poutine schlitz. Pitchfork distillery next level, polaroid roof party austin.
      li.features__item
        span.ic.ic--camera
        .features__descr
          h4.features__title.what__features-title Curabitur
          p.features__text Dreamcatcher deep v austin schlitz drinking vinegar, messen ger bag slow-carb. Migas tumblr kombucha you probably hav en't heard of them +1 chicharrones. Tilde wayfarers craft beer stumptown, humblebrag ugh whatever.
        
