section.portfolio#portfolio
  .container
    .section-header.section-header--portfolio
      p.section-descr
      h2.section-title My works
      
  ul.portfolio__list
    each item in ['pr1.jpg', 'pr2.jpg', 'pr3.jpg', 'pr4.jpg']
      li.portfolio__item
        a(href="img/" + item, style="background-image: url(img/" + item +")").portfolio__view
          span
          
          
  .loader
    svg#loader-1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='40px', height='40px', viewbox='0 0 50 50', style='enable-background:new 0 0 50 50;', xml:space='preserve')
      path(fill='#000', d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z')
        animatetransform(attributetype='xml', attributename='transform', type='rotate', from='0 25 25', to='360 25 25', dur='0.6s', repeatcount='indefinite')

          
  .container
    .btn-wrap
      a(href="#").btn.btn--white#loadPortfolio Load More
      span.btn-lines
