section.portfolio
  .container
    .section-header.section-header--portfolio
      p.section-descr
      h2.section-title My works
      
  ul.portfolio__list
    li.portfolio__item
      a(href="#").portfolio__view item
    li.portfolio__item
      a(href="#").portfolio__view item
