section.portfolio
  .container
    .section-header.section-header--portfolio
      p.section-descr
      h2.section-title My works
      
  ul.portfolio__list
    each item in ['pr1.jpg', 'pr2.jpg', 'pr3.jpg', 'pr4.jpg']
      li.portfolio__item
        a(href="#", style="background-image: url(img/" + item +")").portfolio__view
          span
          
  .container
    .btn-wrap
      a(href="#").btn.btn--white Load More
      span.btn-lines
