@import "bourbon"
@import "vars"
@import "fonts"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #000
	font-size: 16px
body input:required:valid,
body textarea:required:valid
	color: #000
	font-size: 16px

html
	height: 100%
	margin: 0
	padding: 0
	box-sizing: border-box
*, *::before, *::after
	box-sizing: inherit


h1, h2, h3, h4, h5, h6
	font-family: $title-font
	font-weight: 400

h1
  font-size: 40px


// Basic Text Style

p
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
ul, li
	margin: 0
	padding: 0
	list-style-type: none

a
	text-decoration: none
	color: $font-color
	&:hover, &:focus
		text-decoration: none

.ic
	display: inline-block
	&--scroll
		height: 58px
		width: 31px
		+sprite($s-scroll)
	&--headphones
		+sprite($s-headphones)
	&--screen
		+sprite($s-screen)
	&--camera
		+sprite($s-camera)
	&--fb
		+sprite($s-fb)
	&--tw
		+sprite($s-tw)
	&--gpl
		+sprite($s-gpl)
	&--pt
		+sprite($s-pt)
	&--in
		+sprite($s-in)

body
	height: 100%
	margin: 0
	padding: 0
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	color: $font-color
	overflow-x: hidden

.wrapper
	position: relative

.container
	margin: 0 auto
	position: relative
	max-width: 1480px
	width: 96%

.img-responsive
	display: block
	max-width: 100%
	height: auto

section
	padding: 120px 0 100px

.section-header
	margin-bottom: 100px

	&--portfolio
		.section-descr
			margin-left: 15%
		.section-title
			margin-right: 0!important
			text-align: left!important
	.section-title, .section-descr
		display: inline-block
		vertical-align: top
		width: 40%
	.section-title
		margin-right: 15%
		text-align: right

.section-title
	font-size: 77px
	line-height: 1
	white-space: nowrap
	letter-spacing: 4px
	margin: 0
	position: relative
	&::after, &::before
		position: absolute
		content: ''
		width: 483px
		height: 5px
		background-color: #000
		right: 5%
		bottom: -20px
	&::after
		right: -5%
		bottom: -30px

.section-descr
	font-size: 18px

// .hidden
//   display: none
